//COLORS
$red-title-buttons: #e6302a;

$red-background-gradient-1: #e6302a;
$red-background-gradient-2: #ff705c;

$light-green-gradient-1: #3ad4ad;
$light-green-gradient-2: #2aac97;

$main-background: #e7fffb;

$red-button: #e32f29;

$red-catalog-background1: #e6302a;
$red-catalog-background2: #8d0500;
$light-green-catalog-gradient-1: #36d9bf;
$light-green-catalog-gradient-2: #008670;

$circle: #2aac97;

$form: rgb(254, 226, 189);
$red-button-gradient-1: #8c0f0b;
$red-button-gradient-2: #e32f29;
$light-green-button-gradient-1: #068f79;
$light-green-button-gradient-2: #36d9bf;

$light-green-text: #2c9b89;
$main-text-1: #ffffff;
$main-text-2: #000000;
